paste>=1.7.5.1
bottle>=0.12.7
MySQL-Python>=1.2.5
SQLAlchemy>=0.9.7
bottle_sqlalchemy>=0.4.1
httplib2>=0.9
python-novaclient>=2.18.1
python-cinderclient>=1.0.9
python-glanceclient>=0.13.1
python-keystoneclient>=0.10.1
kombu>=3.0.21
librabbitmq>=1.5.2
elasticsearch>=1.2.0
nose
python-dateutil
